<div class="article" id="article_<%= article.id %>">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="article-header">
        <% if user_signed_in? && policy(article).update? %>
          <%= link_to("<i class='fa fa-edit'></i>".html_safe, edit_article_path(article), class: "pull-right") %>
        <% end %>
        <h2 class="hidden-sm hidden-xs"><%= article.title %></h2>
        <h4 class="visible-sm visible-xs"><%= article.title %></h4>
        <span class="published-on">Publié le <%= l(article.published_on, format: :short) %></span>
        <hr>
      </div>
      <% article_image_url = (article.photos.any? ? cl_image_path(article.photos.first.path) : "https://res.cloudinary.com/dlyblhapn/image/upload/v1463320711/quwd9d1j5gjqfod3j0cx.png") %>
      <div class="article-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= article_image_url %>);"></div>
      <div class="article-content">
        <%= render_markdown(article.content) %>
      </div>
    </div>
    <ul class="list-group">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingArticle_<%= article.id %>">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseArticle_<%= article.id %>" aria-expanded="true" aria-controls="collapseArticle_<%= article.id %>">
                <%= t('.comments', default: "%{count} commentaires", count: article.comments.count) %>
              </a>
            </h4>
          </div>
          <div id="collapseArticle_<%= article.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingArticle_<%= article.id %>">
            <div class="panel-body" id="comments_article_<%= article.id %>">
              <% article.comments.each do |comment| %>
                <%= render "shared/comment", comment: comment %>
              <% end %>
              <div class="new-comment" id="comment_article_<%= article.id %>">
                <%= simple_form_for [article, @comment], remote: true do |f| %>
                  <%= f.input :name, label: "Prénom" %>
                  <%= f.input :content, label: "Commentaire" %>
                  <%= f.submit "Envoyer", class: "btn btn-send" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>
