<div class="banner flex-vertical">
  <div class="banner-flex-item">
    <h1 class="title"><%= t('.title', default: "Lauranne Favre") %></h1>
  </div>
  <div class="banner-flex-item">
    <h4 class="subtitle"><%= t('.subtitle', default: "Avocat") %></h4>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="text-justify" id="yours">
        <p>
          Avocat au Barreau de Paris, Maître Lauranne FAVRE intervient principalement en :
        </p>
        <br>
        <ul class="">
          <li>droit de la presse et de l’internet (diffamation, injure, droit de réponse, vie privée, présomption d’innocence, e-reputation)</li>
          <li>droit de la propriété intellectuelle dans les secteurs de la musique et de l’audiovisuel (droit d’auteur, droits voisins)</li>
          <li>droit des startups (montage de sociétés, CGU/CGV, rédaction et négociation de contrats)</li>
          <li>droit des personnes (droit pénal, droit de la famille, droit social des journalistes)</li>
        </ul>
        <br>
        <p>
          Forte de son expérience en contentieux, Maître Lauranne FAVRE a appris à déceler la faille dans chaque situation juridique qui se présente à elle.
        </p>
        <br>
        <p>
          Cette expertise lui permet non seulement de défendre au mieux les intérêts de ses clients lorsqu’elle droit les représenter dans un litige devant les tribunaux mais également d’anticiper les situations juridiques problématiques et de préserver les droits de ses clients lorsqu’elle est amenée à les accompagner dans leurs projets artistiques ou entrepreneuriaux.
        </p>
        <br>
        <p>
          Parce que chaque situation juridique est unique, Maître Lauranne FAVRE a à cœur d’être disponible et à l’écoute de ses clients et d’humaniser les situations juridiques qu’ils traversent.
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div id="yours-img"></div>
    </div>
  </div>
  <div class="row text-center" id="values">
    <div class="col-xs-12 col-sm-4">
      <h3><%= t('.anticipate', default: "Anticiper") %></h3>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h3><%= t('.back', default: "Accompagner") %></h3>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h3><%= t('.defend', default: "Défendre") %></h3>
    </div>
  </div>
</div>