<nav class="navbar-ed navbar-fixed">
  <div class="navbar-side">
    <%= link_to t('.brand', default: "Lauranne Favre"), root_path, class: "brand navbar-item" %>
  </div>
  <div class="navbar-side">
    <%= link_to t('.yours', default: "Votre avocat"), contact_path, class: "navbar-link navbar-item" %>
    <%= link_to t('.values', default: "Valeurs du cabinet"), contact_path, class: "navbar-link navbar-item" %>
    <%= link_to t('.skills', default: "Domaines de compétence"), contact_path, class: "navbar-link navbar-item" %>
    <%= link_to t('.fees', default: "Honoraires"), contact_path, class: "navbar-link navbar-item" %>
    <%= link_to t('.contact', default: "Contact"), contact_path, class: "navbar-link navbar-item" %>
  </div>
</nav>