<nav class="navbar-ed <%= params[:action] == "home" ? 'navbar-fixed' : 'navbar-white' %>">
  <div class="col-xs-6">
    <div class="navbar-left">
      <%= link_to t('.brand', default: ""), root_path, class: "brand navbar-item" %>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="navbar-right">
      <%= link_to t('.chronicles', default: "Chroniques judiciaires"), articles_path, class: "navbar-link navbar-item" %>
      <%= link_to t('.stories', default: "Histoires de justice"), contact_path, class: "navbar-link navbar-item" %>
      <%= link_to t('.short', default: "Brèves de prétoires"), contact_path, class: "navbar-link navbar-item" %>
    </div>
  </div>
</nav>